extends ../layout

block title
  = `Update Tweet`

block content
  
  h1.title Update tweet

  a(href=`/tweets`) Back to tweets

  form(action=`/tweets/${id}?_method=PUT`, method="POST")
    input.is-invisible.input(name="user", value=`${user}`)/
    .field
      .control 
        input.input(name="msg", value=`${msg}`, placeholder="Your message")/
    .field
      .control
        button.button.is-link.is-fullwidth Update
  .field
    .control
      button.button.is-link.is-fullwidth(onClick='if(confirm("Are your sure?")){document.getElementById("deleteForm").submit();}') Delete

  form(action=`/tweets/${id}?_method=DELETE`, method="POST", id="deleteForm")
    input.is-invisible.input(name="id", value=`${id}`)/